.app-wrapper {
    width: 100%;
    display: flex;
    position: relative;
}

.navbar {
    text-align: left;
    position: fixed;
    overflow: auto;
    height: 100%;
    width: 18%;
    padding: 1em;
    background-color: rgb(7, 7, 7);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar ul {
    margin-top: 2.8em;
}

.navbar li {
    margin-bottom: 2em;
}

.nav-option a {
    text-align: left;
    color:rgb(216, 216, 216);
    display: block;
    padding: 1.2em;
    border-radius: 20px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .nav-option a:hover:not(.active) {
    background-color: #16161f;
    color: white;
    box-shadow: 0 0 20px rgba(26, 23, 81, 0.303);
  }

  .nav-option a.active {
    background-color: #19192a;
    box-shadow: 0 0 20px rgba(26, 23, 81, 0.39);
  }

.logo {
    width: 80%;
}
.powered-box {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.powered-by {
  font-size: 2.2vmin!important;
  font-weight: 700;
}

.logotitle {
  text-align: center;
}